<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>APIToken</key>
    <string>"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY1NDE3YTNjZDg3YzQ4YzY0OWFjNGYzYSIsImlhdCI6MTY5OTY4OTU2MiwiZXhwIjoxNjk5OTQ4NzYyfQ.mG2q3PFNvcQ9wv9avIFmOAf7FTpmMVaJKRG5jztV96s" </string>
</dict>
</plist>

