.album-details {
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.album-header {
  display: flex;
  align-items: center;
}

.album-art-large {
  max-width: 200px;
  margin-right: 20px;
}

.album-info h1 {
  margin: 0;
  font-size: 50px;
  margin-bottom: 20px; /* Add some space below the h1 element */
}

.album-info-date {
  margin: 10px 0; /* Increased margin for spacing between paragraphs */
}

.spotify-link {
  color: #1DB954;
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}

.album-artists {
  display: flex;
  margin-top: 20px;
}

.artist-link {
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
  color: #6d57cf;
}

.artist-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.artist-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.track-list h2 {
  margin-top: 30px;
}

.track-list ul {
  list-style: none;
  padding: 0;
}

.track-item {
  display: flex;
  align-items: center;
  background-color: #121212;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.track-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.album-art-small {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  margin-right: 10px;
}

.track-name {
  font-weight: bold;
  flex-grow: 1; /* Allow the track name to take up available space */
  background-color:#121212;
}

.track-duration {
  margin-left: 10px;
  background-color: #121212;
}

.albumdetail-like-button {
  background-color: #3820a3; /* Spotify Green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.albumdetail-like-button:hover {
  background-color: #261572; /* Lighter green on hover */
  transform: scale(1.05);
}

.albumdetail-like-button:focus {
  outline: none;
}

.album-detail-comments-section {
  margin-top: 20px;
  background-color: #282828;
  padding: 15px;
  border-radius: 10px;
  width: 90%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width */
  margin-left: auto;
  margin-right: auto;
}

.album-detail-comments-section p {
  background-color: #383838;
}

.album-detail-comments-section strong {
  background-color: #383838;
}

.album-detail-comments-section h2 {
  margin-bottom: 10px;
  color: white;
  background-color: #282828;
}

.album-detail-comments-section ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px; /* Adjust as needed for longer comment lists */
  overflow-y: auto; /* Scroll for overflow */
  background-color: #282828;
}

.album-detail-comments-section li {
  margin-bottom: 10px;
  background-color: #383838;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.album-detail-comments-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.album-detail-comments-section button {
  padding: 10px 20px;
  background-color: #3820a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.album-detail-comments-section button:hover {
  background-color: #261572;
}

.album-detail-like-comment-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 5px;
}

.album-detail-like-comment-button span {
  margin-left: 5px;
  background-color: #3820a3;
}

.album-detail-like-comment-button svg {
  background-color: #3820a3;
}

/* Styles for the delete comment button */
.album-delete-comment-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 5px;
}

.album-delete-comment-button:hover {
  background-color: #D50000; /* Slightly darker red on hover */
  transform: scale(1.05); /* Slight increase in size on hover */
}

.album-delete-comment-button:focus {
  outline: none; /* Remove focus outline */
}