.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
  justify-content: center;
  gap: 20px; /* Reduced gap for a more compact layout */
  padding: 40px;
  background-color: #111111; /* Dark background for contrast */
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  background-color: #292929; /* Subdued background for cards */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-align: center;
  
}

.card:hover {
  transform: scale(1.05); /* Slight scale up on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #BB86FC; /* Theme color for icons */
}

.card-title {
  font-size: 22px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
    padding: 20px;
    gap: 15px; /* Even smaller gap on smaller screens */
  }

  .card-icon {
    font-size: 35px; /* Adjust size for smaller screens */
  }

  .card-title {
    font-size: 20px;
  }
}
