@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Mulish";
  color: rgb(255, 255, 255);
  background-color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #3820a3;
}
.navbar h1 {
  color: #ffffff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3820a3;
}
.content {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}
