.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Dislike button styles */
.dislike-button {
  background-color: rgb(37, 27, 106);
  color: white;
  padding: 5px 10px; /* Smaller padding for a 'cuter' look */
  border: none;
  border-radius: 15px; /* More rounded borders */
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px; /* Space between the song name and the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.dislike-button:hover {
  background-color: rgb(66, 57, 124);
}

/* Liked song item styles */
.liked-song-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.liked-song-name {
  margin-right: auto;
}

/* Create Liked Songs button styles */
.create-liked-songs-button {
  background-color: white;
  color: rgb(37, 27, 106);
  padding: 10px 20px;
  border: 2px solid rgb(37, 27, 106);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease; /* Smooth transition for both background and text color */
}

.create-liked-songs-button:hover {
  background-color: rgb(37, 27, 106);
  color: white;
}

/* Add to Liked Songs and Upload File button styles */
.add-to-liked-songs-button, .upload-file-button {
  background-color: rgb(37, 27, 106);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.add-to-liked-songs-button:hover, .upload-file-button:hover {
  background-color: rgb(66, 57, 124);
}

/* Separates the button from its input field */
.add-to-liked-songs-button, .upload-file-button {
  margin-left: 10px;
}

/* Ensures that the input and button are on the same line */
.input-with-button {
  display: flex;
  align-items: center;
}

/* Input field styles */
.input-field {
  flex-grow: 1; /* Allows input to fill available space */
  margin-right: 10px; /* Space between input and button */
  padding: 10px; /* Add padding to make the input taller and text centered */
  border: 2px solid rgb(210, 210, 210); /* A light gray border for subtle styling */
  border-radius: 5px; /* Rounded corners for the input field */
  outline: none; /* Removes the default focus outline */
  transition: border-color 0.3s ease; /* Transition for the border color */
}

.input-field:focus {
  border-color: rgb(37, 27, 106); /* Changes border color to purple when focused */
  box-shadow: 0 0 0 2px rgba(37, 27, 106, 0.2); /* Adds a glow effect when focused */
}
