.search-bar-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Dark background for the search bar */
  padding: 20px 0;
}

.search-bar-container input,
.search-bar-container button {
  margin: 0 5px; /* Adds space between the input and the button */
}

.search-input-container {
  width: 650%; /* Adjust width as needed */
  position: relative;
}

.search-input {
  align-items: center;
  width: 60%;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #333;
  background-color: #282828;
  color: white;
  font-size: 16px;
}

.search-button {
  position: absolute;
  right: -60px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  background-color: #1DB954; /* Spotify green */
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #673ab7; /* Purple when hovered */
}

.search-results {
  margin-top: 20px;
  background-color: black; /* Dark background for results */
  padding: 20px;
  color: white;
}

.search-result-item {
  width: 100%; /* Or a specific larger width */
  background-color: #282828; /* Slightly lighter than background for contrast */
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-result-item:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.search-result-image {
  width: 60px; /* Adjust size as needed */
  height: 60px;
  border-radius: 30px; /* Circular images */
  margin-right: 20px;
}

.search-result-info {
  flex-grow: 1;
  background-color:#282828;
}

.search-result-info p {
  margin: 5px 0;
  margin-left: 10px;
  color: white; /* For readability */
  background-color: #282828;
}

.search-result-info a {
  color: #1DB954; /* Spotify green */
  text-decoration: none;
}

.search-result-info a:hover {
  text-decoration: underline;
}

.like-button {
  background-color: #3820a3; /* Spotify green */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.like-button:hover {
  background-color: #1f115d; /* Slightly lighter green on hover */
  transform: scale(1.05);
}

.like-button:active {
  transform: scale(0.95);
}

.like-button:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}
